@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', cursive;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#e66465, #9198e5);
    min-height: 100vh;
    /* Use min-height to ensure full screen coverage */
    width: 100%;
}

.container {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 15px;
    max-width: 400px;
    /* Limit container width for larger screens */
    width: 100%;
    margin: 0 auto;
    /* Center the container horizontally */
}

.output {
    display: flex;
    justify-content: flex-end;
    /* Adjust alignment for smaller screens */
    margin-bottom: 10px;
}

.output>input {
    flex: 1;
    text-align: right;
    outline: none;
    height: 4rem;
    font-size: 3vw;
    /* Responsive font size */
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.btns {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(6rem, 1fr));
    /* Adjust column layout */
    grid-gap: 5px;
}

/* Add media queries for different screen sizes */
@media (max-width: 768px) {
    .btns {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        /* Adjust for smaller screens */
    }
}

/* You can add more media queries as needed */

.span-2 {
    grid-column: span 2;
}

button {
    outline: none;
    font-size: 2vw;
    /* Responsive font size */
    border: 1px solid white;
    border-radius: 4px;
    font-weight: 600;
    color: #e6646599;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    color: white;
}